registry=https://registry.npmjs.org/
@tools:registry=https://gitlab.workrails.com/api/v4/packages/npm/
//gitlab.workrails.com/api/v4/packages/npm/:_authToken=${NPM_TOKEN}
@workrails:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GH_NPM_TOKEN}
always-auth=true
unsafe-perm=true
install-links=false
